
body{
    background-color: pink;
}
@media (width >= 30em){
    body{
        background-color: blue;
    }
}
h1{
    color: red;
}
p, li{
    color: green;
}
.special {
    color: orange;
    font-weight: bold;
}
li em{
    color: rebeccapurple;
}
a:link{
    color: pink;
}
a:visited{
    color: green;
}
a:hover{
    text-decoration: none;
}
h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px; 
}